<?php
/**
* Category view template
*
* @var $block Kowal\CustomCategoryTitle\Rewrite\Magento\Catalog\Block\Category\View
*/
?>
<?php if ($_bottomDescription = $block->getCurrentCategory()->getCustomDescription()): ?>
    <?php if ($block->getCurentPage() <= 1  && $block->isHideDescription()) :  ?>
    <div class="category-bottom-description">
        <div class="container">
            <?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $_bottomDescription, 'custom_description') ?>
        </div>
    </div>
<?php endif; ?>
<?php endif; ?>